<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmic Mixer</title>
    <link rel="icon" href="http://localhost:3000/favicon.ico?v=3" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <environment include="Development">        
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/main.min.css" />
    </environment>
</head>
<body>

    <div>

        <div class="grid-main">
            <header class="site-header">
                <a href="/">
                    <img src="~/images/banner.svg" class="logo" />
                </a>
            </header>

            <div class="grid-pagewrap">
                <div id="sidebar" class="sidebar">
                    <nav id="main-nav" class="icon-bar">
                        <a class="active" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-globe"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-trash"></i>
                        </a>
                    </nav>
                </div>

                @RenderBody()

            </div>

            <div class="site-footers">
                <footer class="site-footer">
                    This is my footer!
                </footer>
            </div>

        </div>
    </div>

    <script src="~/libs/handlebars.runtime-4.0.11.min.js"></script>
    <script src="~/libs/require-2.3.5-min.js"></script>
    <script>
            require.config({
                //baseUrl: './', // the wwwroot
                baseUrl: '@Url.Content("~/")', // the wwwroot
                paths: {
                    // the left side is the module ID,
                    // the right side is the path to
                    // the file, relative to baseUrl.
                    // Also, the path should NOT include
                    // the '.js' file extension.
                    jquery: 'libs/jquery-3.3.1.min',
                    jqueryui: 'libs/jqueryui-1.9.2-min',
                    Handlebars: 'libs/handlebars.runtime-4.0.11.min',
                    hbstemplates: 'js/templates',
                    layout: 'js/layout',
                    dataService: 'js/dataService',
                    homeIndexPage: 'js/homeIndexPage',
                },
                shim: {
                    jqueryui: {
                        deps: ['jquery']
                    },
                    handlebars: {
                        exports: 'Handlebars'
                    },
                    hbstemplates: {
                        exports: 'Hbs',
                        deps: ['Handlebars']
                    }
                }
            });
    </script>

    <script>
        require(["js/layout"]);
    </script>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>

