**/*.cache
**/.vs
**/.vscode
**/OldCosmicMixer
**/CosmicMixer/.vscode
**/CosmicMixer/node_modules
**/CosmicMixer/bin
**/CosmicMixer/obj
**/CosmicMixer/obj/*.cache
**/CosmicMixer/wwwroot/lib/**/*.js
**/CosmicMixer/wwwroot/js/templates.js
