@model CodeRambo.Controllers.ArticleModel

@{ Layout = "_Layout"; }

        <section id="article">
            This is your article!
            @await Html.PartialAsync($"~/Views/Articles/Article{Model.Id}.cshtml")
        </section>
@section scripts {
    @*<script>     
        require(["js/homeIndexPage"]);        
    </script>*@
}