@*<h1>This is Index view of TestController of Test Area</h1>*@

@{
    ViewData["Title"] = "Home Page TestApp";
}

<app asp-prerender-module="ClientApp/dist/main-server-testapp">Loading...</app>

<script src="~/dist/vendor-testapp.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client-testapp.js" asp-append-version="true"></script>
}