@{ Layout = "_Layout"; }

<div class="grid-main">

    <header class="site-header">
        <div class="site-header-middle">
            <a href="#">
                Cosmix Mixer
            </a>
        </div>
    </header>

    @*<div class="grid-pagewrap">

        <div id="sidebar" class="sidebar">
            <a href="#">Home</a>
        </div>

        <section id="tiles">
            <div id="container-teils" class="grid-teils"></div>
        </section>

    </div>*@

    <div class="site-footers">
        <footer class="site-footer">
            This is my footer!
        </footer>
    </div>

</div>

@section scripts {
    @*<script>     
        require(["js/homeIndexPage"]);        
    </script>*@
}