@{ Layout = "_Layout"; }

<h1>Index Page 2</h1>

<section id="tiles">
    <div id="container-teils" class="grid-teils">
        <div class="teil">1</div>
        <div class="teil">2</div>
        <div class="teil">3</div>
        <div class="teil">4</div>
        <div class="teil">5</div>
        <div class="teil">6</div>
        <div class="teil">7</div>
        <div class="teil">8</div>
        <div class="teil">
            9
            <a href="#">
                <div class="teil-image-container">
                    <img class="teil-image" src="~/images/tile_placeholder_red_300x150.svg" />
                </div>
            </a>
            <div>
                <h5>Article title</h5>
            </div>
            <span>Published: , Author <a href="#/me">ME</a></span>
        </div>        
    </div>
</section>

<button id="btn-get-data" type="button">Get Data</button>
<div>
    <input id="checkbox-get-error" type="checkbox"/>
    <label for="checkbox-get-error">Error?</label>
</div>

@section scripts {

    <script id="tile-template" type="text/x-handlebars-template">
        <div class="teil">
            {{header}}
            <a href="{{urlContent}}">
                <div class="teil-image-container">
                    <img class="teil-image" src="{{urlImage}}" />
                </div>
            </a>
            <div>
                <h5>{{title}}</h5>
            </div>
            <span>Published: {{published}}, Author: <a href="{{urlAuthor}}">{{author}}</a></span>
        </div>
    </script>

    <script type="text/javascript">

        function renderTile(context) {

            var template = $("#tile-template").html();
            var compiled = Handlebars.compile(template);
            var rendered = compiled(context);
            $("#container-teils").append(rendered);
        }

        function getTiles() {

            var lastId = 1

            if ($("#checkbox-get-error").is(":checked")) {
                lastId = -1;
            }

            console.log(lastId);

            $.getJSON(
                "http://localhost:3000/Home/GetTiles",
                { fromId: lastId },
                function (result) {
                    /*alert(JSON.stringify(result));*/
                    console.log(JSON.stringify(result));
                })
                .then(
                function (tiles) {
                    $.each(tiles, function (i, tile) {
                        console.log(JSON.stringify(tile));
                        renderTile(tile);
                    })
                },
                function (jqXHR, textStatus, err) {
                    console.log(err);
                    console.log(textStatus);
                    alert(JSON.stringify(jqXHR));
                });
        };

        $(document).ready(function () {            

            $("#btn-get-data").click(function () {
                getTiles();
            })


            $(window).scroll(function () {

                let wnd = $(window);
                let doc = $(document);

                if (wnd.scrollTop() >= doc.height() - wnd.height() - 10) {
                    getTiles();
                }
            });
        });

    </script>

}