@{ Layout = "_Layout"; }

<h1>Index Page 2</h1>

<section id="tiles">
    <div id="container-teils" class="grid-teils">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
    </div>
</section>

<button id="btn-get-data" type="button">Get Data</button>

@section scripts {
<script type="text/javascript">

    $(document).ready(function () {

        $(window).scroll(function () {

            let wnd = $(window);
            let doc = $(document);

            if (wnd.scrollTop() >= doc.height() - wnd.height() - 10) {

                let containerTeils = $("#container-teils");
                let itemsCount = containerTeils.children().length;
                containerTeils.append('<div>' + (++itemsCount) + '</div>');
            }
        })

        $("#btn-get-data").click(function () {

            $.getJSON("http://localhost:3000/Home/GetTiles",
                { fromId: 1 },
                function (result) {
                    /*alert(JSON.stringify(result));*/
                    console.log(JSON.stringify(result));
                }).then(function (tiles) {
                    $.each(tiles, function (i, tile) {
                        console.log(JSON.stringify(tile));
                    })
                })
        })
    });

</script> }