@{ Layout = "_Layout"; }
        <section id="tiles">
            <div id="container-teils" class="grid-teils"></div>
        </section>
@section scripts {
    <script>     
        require(["js/homeIndexPage"]);        
    </script>
}