@{ Layout = "_Layout"; }

<h1>Index Page 2</h1>

<section id="tiles">
    <div id="container-teils" class="grid-teils">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
    </div>
</section>

<button id="btn-load-teils">Load Teils</button>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {

        //alert("Hello World from jQuery!");

        $("#btn-load-teils").click(function () {
            let containerTeils = $("#container-teils");
            let itemsCount = containerTeils.children().length;
            containerTeils.append('<div>' + (++itemsCount) + '</div>');
        })
    });
</script> }