body,
html {
    height: 100%;
}

.icon-bar {
    background-color: orange;
    height: 100%;
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: black;
        font-size: 36px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

        .icon-bar a.active {
            background-color: red !important;
        }

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}


.grid-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "toprow" "middlerow" "bottomrow";
    grid-row-gap: 1em;
}

.site-header {
    display: grid;
    grid-area: toprow;
    /*border: 1px solid;*/
    height: 130px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "headercenter headerright";
    top: 0%;
    background-color:white;
}

#hamburger {
    margin: 50px 0 0 15px;
    grid-area: headerleft;
    display: none;
}

div #hamburger .line {
    width: 60px;
    height: 10px;
    background-color: firebrick;
    margin: 6px 0;
}

.banner {
    grid-area: headercenter;
}

.grid-pagewrap {
    grid-area: middlerow;
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar tiles";
    grid-column-gap: 1em;
}

.site-footers {
    grid-area: bottomrow;
    height: 0.01em;
    width: 100%;
    background-color: green;
    border: 1px solid rgb(0, 95, 107);
    position: fixed;
    bottom:0;
}

    .site-footers:hover {
        height: 100px;
    }

    .site-footer {
        font-weight: bold;
        font-size: 40px;
    }

#sidebar {
    grid-area: sidebar;
    position: fixed;
}

    #sidebar.stick-top {
        top: 0%;
    }

.sidebar {
    height: 100%;
}

    .sidebar a {
        color: #fff;
    }

section#tiles {
    grid-area: tiles;
}

    section#tiles .grid-teils {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(10em, auto);
        grid-column-gap: 1em;
        grid-row-gap: 2em;
    }

    section#tiles .teil {
        border: 1px solid rgb(0, 95, 107);
        padding: 0.2em;
        color: black;
    }

    section#tiles .teils-image-container {
        padding-right: 0px;
        padding-left: 0px;
    }

    section#tiles .teil-image {
        width: 100%;
        height: 100%;
    }

    section#tiles h5 {
        margin: 0;
    }

#horizontalbar{
    /*display: none;*/
    visibility: hidden;
}

@media screen and (max-width: 60em) {

    .grid-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "toprow" "horizontalnavbar" "middlerow" "bottomrow";
        grid-row-gap: 1em;
    }

    .grid-pagewrap {
        grid-area: middlerow;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "tiles";
        grid-column-gap: 1em;
        margin-top: 130px;
        /*z-index: 0;*/
    }

    section#tiles .grid-teils {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(10em, auto);
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        margin-top:3em;
    }

    .site-header {
        display: grid;
        grid-area: toprow;
        height: 140px;
        grid-template-columns: 100px auto 1000px;
        grid-template-rows: 130px;
        grid-template-areas: "headerleft headercenter headerright";
        position: fixed;
        z-index: 0;
    }

    #sidebar {
        display: none;
    }    

    #hamburger {
        display: initial;        
    }

    #horizontalbar {
        display: grid;
        grid-area: horizontalnavbar;
        visibility: visible;
        position: fixed;
        width: 97.8%;
        margin-top: 8em;
    }

    .h-icon-bar {
        background-color: orange;
        overflow: auto;
    }

        .h-icon-bar a {
            float: left;
            width: 20%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 36px;
        }

            .h-icon-bar a:hover {
                background-color: #000;
            }

            .h-icon-bar a.active {
                background-color: red !important;
            }
}

@media screen and (max-width: 40em) {

    section#tiles .grid-teils {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(10em, auto);
        grid-column-gap: 1em;
        grid-row-gap: 2em;
    }
}
