body,
html {
    height: 100%;
}

.grid-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "toprow" "middlerow" "bottomrow";
    grid-row-gap: 1em;
}

.site-header {
    grid-area: toprow;
    height: 100px;
    background-color: yellow;
    border: 1px solid rgb(0, 95, 107);
    font-size: 40px;
}

.grid-pagewrap {
    grid-area: middlerow;
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar tiles";
    grid-column-gap: 1em;
}

.site-footers {
    grid-area: bottomrow;
    height: 100px;
    background-color: green;
    border: 1px solid rgb(0, 95, 107);
}

.site-footer {
    font-weight: bold;
    font-size: 40px;
}

#sidebar {
    grid-area: sidebar;
}

.sidebar {
    background-color: black;    
}

    .sidebar a {
        color: #fff;
    }

section#tiles {
    grid-area: tiles;
}

section#tiles .grid-teils {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10em, auto);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}

section#tiles .teil {
    border: 1px solid rgb(0, 95, 107);
    padding: 0.2em;
    color: black;
}

section#tiles .teils-image-container {
    padding-right: 0px;
    padding-left: 0px;
}

section#tiles .teil-image {
    width: 100%;
    height: 100%;
}

section#tiles h5 {
    margin: 0;
}