body,
html {
    height: 100%;
}

section#tiles .grid-teils {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10em, auto);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}

section#tiles .teil {
    border: 1px solid rgb(0, 95, 107);
    padding: 0.2em;
    color: black;
}

section#tiles .teils-image-container {
    padding-right: 0px;
    padding-left: 0px;
}

section#tiles .teil-image {
    width: 100%;
    height: 100%;
}

section#tiles h5 {
    margin: 0;
}